:root {
  --color-green: #54B435;
  --color-sidebar: #292D3D;
  --border-radius: 15px;
  --transition: .3s ease-in-out;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.inner_container {
  padding: 0 100px;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.items-start {
  align-items: start;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.grid {
  display: grid;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: var(--color-green);
}

.text-black {
  color: #000;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.btn {
  background: transparent;
  border: 2px solid var(--color-green);
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  transition: all var(--transition);
  -webkit-transition: all var(--transition);
  -moz-transition: all var(--transition);
  -ms-transition: all var(--transition);
  -o-transition: all var(--transition);
}

.btn:hover, .btn:focus {
  background: var(--color-green);
  box-shadow: 0 0 10px var(--color-green);
}

@media screen and (max-width: 1180px) {
  .container {
    margin: 0 80px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 50px;
  }

  .btn {
    font-size: 15px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 460px) {
  .container {
    margin: 0 20px;
  }
}